body { margin:0; background:#222; overflow:hidden; }
canvas { background:#3a3a3a; display:block; margin:0 auto; }

#controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

button {
    font-size: 30px;
    padding: 15px;
    margin: 5px;
}

@media (max-width: 768px) {
    #controls { display: block; }
}
